@font-face {
  font-family: 'Roboto';
  src: url('./RobotoCondensed-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  src: url('./Barlow-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Barlow';
  src: url('./Barlow-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Barlow';
  src: url('./Barlow-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Barlow';
  src: url('./Barlow-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Satisfy';
  src: url('./Satisfy-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Quattrocento';
  src: url('./Quattrocento-Bold.ttf') format('truetype');
  font-weight: 700;
}
