.header-section {
  background: url(/Assets/Iteration-1-assets/home-banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem;
}

.header-section img {
  width: 20rem;
  height: auto;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  max-width: 550px;
  gap: 0.5rem;
}

.header-headings {
  text-align: center;
}

.italic-heading {
  font-family: 'Satisfy', system-ui;
  color: var(--yellow-color);
  font-size: 2rem;
}

.main-heading {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 4.7rem;
  line-height: 1;
}

.header-btn {
  background-color: var(--yellow-color);
  color: var(--grey-dark-color);
  font-weight: 600;
}

/*to crush bootstrap rules*/
.header-btn:hover {
  background-color: var(--yellow-color);
  color: var(--grey-dark-color);
  font-weight: 600;
}
